.top-back-image--fixed
  .content.container
    .row
      .sub-header.pull-left
        = link_to image_tag('img/sub-title.png'), homes_index_path, class: "sub-header__title"
        = link_to image_tag('img/head-link1.png'), characters_index_path, class: "sub-header__img"
        = link_to image_tag('img/head-alink2.png'), sample_index_path, class: "sub-header__img"
        = link_to image_tag('img/head-link3.png'), development_index_path, class: "sub-header__img"
        = link_to image_tag('img/head-link4.png'), apps_index_path, class: "sub-header__img"
        = link_to image_tag('img/head-link5.png'), form_index_path, class: "sub-header__img"
      .content-body--sample
        .pull-left
          = image_tag "img/samplegame.png",class: "content-body--sample__title"
        .pull-right
          = image_tag "img/sourcecode.png",class: "content-body--sample__dl1"
          = image_tag "img/github-btn.png",class: "content-body--sample__btn1"
          = image_tag "img/aifile.png",class: "content-body--sample__dl2"
          = image_tag "img/download-btn2.png",class: "content-body--sample__btn2"
        .game-list
          .game
            %a{href: "100m_hurdle/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "/assets/img/screenshot.png"}/
              .title No.1 100m走ハードル
            %div
              100メートルハードル走でタイムを競おう！
          .game
            %a{href: "100m_run/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "/assets/img/screenshot.png"}/
              .title No.2 100m走
            %div
              100メートル走で世界記録をめざそう！
          .game

            %a{href: "23_no_yoru/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "/assets/img/screenshot.png"}/
              .title No.3 23の夜
            %div
              「こんな研究やってられっか！」院での研究生活に嫌気がさした23の夜。バイクで突っ走る。行き先は誰もわからない。追いかけてくる教授から逃げよう！
          .game
            %a{href: "50m_hurdle/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "50m_hurdle/screenshot.png"}/
              .title No.4 50m走ハードル
            %div
              50メートル走です。あなたは何秒で走れるでしょうか?
          .game
            %a{href: "50m_jiyugata/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "50m_jiyugata/screenshot.png"}/
              .title No.5 50m自由形
            %div 50メートルの自由形でタイムを競おう！
          .game
            %a{href: "50m_run/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "50m_run/screenshot.png"}/
              .title No.6 50m走
            %div 50メートル走りましょう。
          .game
            %a{href: "200m_run/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "200m_run/screenshot.png"}/
              .title No.7 200m走
            %div 200メートル走で世界記録をめざそう！
          .game
            %a{href: "400m_run/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "400m_run/screenshot.png"}/
              .title No.8 400m走
            %div 400メートル走で世界記録をめざそう！
          .game
            %a{href: "air_hockey/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "air_hockey/screenshot.png"}/
              .title No.9 エアホッケー
            %div ホッケー対決です。友達と対戦しましょう。
