.top-back-image--repeat
  .content.container
    .row
      .sub-header.pull-left
        = image_tag "img/sub-title.png", class: "sub-header__title"
        = image_tag "img/head-link1.png", class: "sub-header__title"
        = image_tag "img/head-alink2.png", class: "sub-header__title"
        = image_tag "img/head-link3.png", class: "sub-header__title"
        = image_tag "img/head-link4.png", class: "sub-header__title"
        = image_tag "img/head-link5.png", class: "sub-header__title"
      .content-body--sample
        .pull-left
          = image_tag "img/samplegame.png",class: "content-body--sample__title"
        .pull-right
          = image_tag "img/sourcecode.png",class: "content-body--sample__dl1"
          = image_tag "img/github-btn.png",class: "content-body--sample__btn1"
          = image_tag "img/aifile.png",class: "content-body--sample__dl2"
          = image_tag "img/download-btn2.png",class: "content-body--sample__btn2"
        .game-list
          .game
            %a{href: "100m_hurdle/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "/assets/img/screenshot.png"}/
              .title No.1 100m走ハードル
            %div
              100メートルハードル走でタイムを競おう！
          .game
            %a{href: "100m_run/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "/assets/img/screenshot.png"}/
              .title No.2 100m走
            %div
              100メートル走で世界記録をめざそう！
          .game

            %a{href: "23_no_yoru/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "/assets/img/screenshot.png"}/
              .title No.3 23の夜
            %div
              「こんな研究やってられっか！」院での研究生活に嫌気がさした23の夜。バイクで突っ走る。行き先は誰もわからない。追いかけてくる教授から逃げよう！
          .game
            %a{href: "50m_hurdle/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "50m_hurdle/screenshot.png"}/
              .title No.4 50m走ハードル
            %div
              50メートル走です。あなたは何秒で走れるでしょうか?
          .game
            %a{href: "50m_jiyugata/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "50m_jiyugata/screenshot.png"}/
              .title No.5 50m自由形
            %div 50メートルの自由形でタイムを競おう！
          .game
            %a{href: "50m_run/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "50m_run/screenshot.png"}/
              .title No.6 50m走
            %div 50メートル走りましょう。
          .game
            %a{href: "200m_run/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "200m_run/screenshot.png"}/
              .title No.7 200m走
            %div 200メートル走で世界記録をめざそう！
          .game
            %a{href: "400m_run/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "400m_run/screenshot.png"}/
              .title No.8 400m走
            %div 400メートル走で世界記録をめざそう！
          .game
            %a{href: "air_hockey/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "air_hockey/screenshot.png"}/
              .title No.9 エアホッケー
            %div ホッケー対決です。友達と対戦しましょう。
          .game
            %a{href: "aitsu_wo_nerae/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "aitsu_wo_nerae/screenshot.png"}/
              .title No.10 アイツヲネラエ
            %div 飛んでいるへこきーまんをゴルフボールで狙い撃とう！
          .game
            %a{href: "align_picture/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "align_picture/screenshot.png"}/
              .title No.11 神経質衰弱
            %div 神経を衰弱させるゲームです。
          .game
            %a{href: "answer_capital/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "answer_capital/screenshot.png"}/
              .title No.12 世界の首都を答えましょう。
            %div 世界の首都を当てるゲームです。どのくらい知っているか試してみましょう。
          .game
            %a{href: "ar_count_5/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "ar_count_5/screenshot.png"}/
              .title No.13 人工呼吸まであと5秒
            %div あいつ！？が来るまでに連打で死にそうな人を助けよう！
          .game
            %a{href: "asagao/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "asagao/screenshot.png"}/
              .title No.14 朝顔が朝咲くと思うなよ
            %div 朝顔が朝だけに咲くとか思うなよ！夜明けまでにこすって咲かせてしまおう！
          .game
            %a{href: "asoko_wo_nerae/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "asoko_wo_nerae/screenshot.png"}/
              .title No.15 アソコヲネラエ
            %div ゴルフボールをタイミングよく打ってアソコを狙え！
          .game
            %a{href: "bakemono_bako_1/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "bakemono_bako_1/screenshot.png"}/
              .title No.16 化物箱1
            %div この化物箱を完全制覇することができるか！？(初級編)
          .game
            %a{href: "bakemono_bako_2/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "bakemono_bako_2/screenshot.png"}/
              .title No.17 化物箱2
            %div この化物箱を完全制覇することができるか！？(中級編)
          .game
            %a{href: "bakemono_bako_3/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "bakemono_bako_3/screenshot.png"}/
              .title No.18 化物箱3
            %div この化物箱を完全制覇することができるか！？(上級編)
          .game
            %a{href: "baseball_board/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "baseball_board/screenshot.png"}/
              .title No.19 野球盤ホームラン競争
            %div ホームラン競争です。どのくらいホームランが打てるか!?
          .game
            %a{href: "box_dive/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "box_dive/screenshot.png"}/
              .title No.20 BOX DIVE
            %div 話題沸騰。タイミングをあわせてアイスボックスにダイブしよう！
          .game
            %a{href: "break_out/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "break_out/screenshot.png"}/
              .title No.21 ブロッククズシ
            %div 古典ゲームのブロック崩しです。完全クリアをめざせ!
          .game
            %a{href: "car_chase/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "car_chase/screenshot.png"}/
              .title No.22 カーチェイス
            %div 前からくる車をよけてよけまくれ！
          .game
            %a{href: "chewing_bubble/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "chewing_bubble/screenshot.png"}/
              .title No.23 チューイングバブル
            %div とにかくタップして、風船ガムを割ろう！
          .game
            %a{href: "chie_no_wa/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "chie_no_wa/screenshot.png"}/
              .title No.24 知恵つかわない輪
            %div 知恵なんて使わなくとも力があればはずせるのさ！連打して知恵の輪を破壊しよう！
          .game
            %a{href: "couple_shooting/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "couple_shooting/screenshot.png"}/
              .title No.25 カップル♡シューティング
            %div リア充を銃撃するんだ！ただし、男女のカップルだけではないこの世の中。
          .game
            %a{href: "couple_uranai/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "couple_uranai/screenshot.png"}/
              .title No.26 これで幸せ！カップル占い
            %div あの人との相性はどれくらい？一言アドバイスももらえるよ！
          .game
            %a{href: "dangeon/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "dangeon/screenshot.png"}/
              .title No.27 ダンジョン？-なにそれおいしいの？-
            %div
              ダンジョン？ 行き止まり？ 壁を壊して近道しちゃおう。壁を壊して魔王のところまで突き進もう。
          .game
            %a{href: "darts/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "darts/screenshot.png"}/
              .title No.28 Simple Darts
            %div
              とてもシンプルなダーツです。遊び方は貴方次第。スイカ割りみたいにみんなでやると楽しいかも？？
          .game
            %a{href: "dribbler/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "dribbler/screenshot.png"}/
              .title No.29 ドリブラー
            %div ひたすらドリブルで相手をよけてよけまくれ！
          .game
            %a{href: "endless_lifting/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "endless_lifting/screenshot.png"}/
              .title No.30 エンドレスリフティング
            %div ただひたすら日が暮れるまでリフティングをするゲーム。
          .game
            %a{href: "escape_step/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "escape_step/screenshot.png"}/
              .title No.31 踏みつぶされるな！
            %div 踏みつぶされないように巨人の足から逃げよう！
          .game
            %a{href: "figyumon/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "figyumon/screenshot.png"}/
              .title No.32 フィギュアモンスター
            %div
              図形も動けば可愛い？！自分だけの幾何学モンスターを作成しよう！
          .game
            %a{href: "free_throw/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "free_throw/screenshot.png"}/
              .title No.33 フリースロー
            %div フリースローでめざせくろこ！
          .game
            %a{href: "fruits_cutting/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "fruits_cutting/screenshot.png"}/
              .title No.34 フルーツカッティング
            %div 果物をすばやく切って切りまくれ！
          .game
            %a{href: "fure_fure_cola/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "fure_fure_cola/screenshot.png"}/
              .title No.35 フレフレコーラ
            %div コーラをふってふって爆発させよう。
          .game
            %a{href: "gari_gari/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "gari_gari/screenshot.png"}/
              .title No.36 ガリガリうらない
            %div 今日のあなたのうんせいは？ガリガリ君に聞いてみよう！
          .game
            %a{href: "gekko/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "gekko/screenshot.png"}/
              .title No.37 月光
            %div
              見つからないようにサーチライトに敵を入れろ！
          .game
            %a{href: "gun_fight/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "gun_fight/screenshot.png"}/
              .title No.38 GUN FIGHT
            %div
              西部開拓時代、男たちは戦いに明け暮れていた。タイミングよく銃を撃とう。
          .game
            %a{href: "hage_migaki/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "hage_migaki/screenshot.png"}/
              .title No.39 ハゲ磨き
            %div ハゲ頭をひたすら磨いて輝かせよう！
          .game
            %a{href: "hammer_throw/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "hammer_throw/screenshot.png"}/
              .title No.40 HammerThrow
            %div
              10秒間で力を溜めてハンマーを投げよう!
          .game
            %a{href: "hanpuku_yokotobi/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "hanpuku_yokotobi/screenshot.png"}/
              .title No.41 連打で伸ばせ！反復横跳
            %div 反復横跳だけやたらスコアの良い人いましたよね？連打で学年トップを目指そう！
          .game
            %a{href: "harabo/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "harabo/screenshot.png"}/
              .title No.42 ハラハラ棒
            %div 迫りくる棒からハラハラしながら逃げよう！(易)
          .game
            %a{href: "harabo_kai/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "harabo_kai/screenshot.png"}/
              .title No.43 ハラハラ棒・改
            %div 迫りくる棒からハラハラしながら逃げよう！(改)
          .game
            %a{href: "harabo_shin/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "harabo_shin/screenshot.png"}/
              .title No.44 ハラハラ棒・真
            %div 迫りくる棒からハラハラしながら逃げよう！(真)
          .game
            %a{href: "hekoki_man/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "hekoki_man/screenshot.png"}/
              .title No.45 へこきーまん
            %div 正義の味方へこきーまんの参上！おならで空高く飛び立とう！
          .game
            %a{href: "hote_age/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "hote_age/screenshot.png"}/
              .title No.46 ホテルマエニアゲロ
            %div あれ！？あの漫画のタイトルに似ているような？赤くほてってのぼせそうな人を救出しよう！
          .game
            %a{href: "iai_giri/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "iai_giri/screenshot.png"}/
              .title No.47 居合い切り
            %div
              時は戦国、男たちは戦いに明け暮れていた。タイミングよく刀を抜こう。
          .game
            %a{href: "inukaki/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "inukaki/screenshot.png"}/
              .title No.48 いぬかきレース
            %div いぬかきでタイムを競おう！ただし泳ぐのはいぬですけどね。
          .game
            %a{href: "janken/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "janken/screenshot.png"}/
              .title No.49 じゃんけん
            %div 世の中結局運ゲーなんですよ…じゃんけんでセンターを目指せ！
          .game
            %a{href: "just_5sec/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "just_5sec/screenshot.png"}/
              .title No.50 能動的5秒間
            %div あなたの感覚を研ぎすまし5秒ぴったりでタイムを止めよう！
          .game
            %a{href: "kaitou_ha_dareda/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "kaitou_ha_dareda/screenshot.png"}/
              .title No.51 怪盗はだれだ！？
            %div
              村人に紛れ込んだ怪盗を探せ。
          .game
            %a{href: "kaki_hiroi/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "kaki_hiroi/screenshot.png"}/
              .title No.52 となりの客はよく柿拾う客だ
            %div とにかくとなりの客はよく柿拾うんです。みかんじゃないです。
          .game
            %a{href: "kami_sumo/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "kami_sumo/screenshot.png"}/
              .title No.53 神相撲
            %div タップして力士を操って相手を倒す対戦ゲーム。
          .game
            %a{href: "kitakaze_to_taiyou/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "kitakaze_to_taiyou/screenshot.png"}/
              .title No.54 北風と太陽
            %div
              かの有名な物語の後、北風と太陽は人の服を脱がす楽しさを知ってしまいました。協力して服を脱がせよう。
          .game
            %a{href: "kudamono_gari/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "kudamono_gari/screenshot.png"}/
              .title No.55 おばあさんのくだものがり
            %div
              おばあさんの果物狩りを手伝おう。腐った果物はかごに入れちゃだめ。
          .game
            %a{href: "kugida/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "kugida/screenshot.png"}/
              .title No.56 釘打
            %div ひたすら連打して釘の早打ちに挑戦だ！
          .game
            %a{href: "larry_tennis/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "larry_tennis/screenshot.png"}/
              .title No.57 Larry Tennis
            %div 勝つのではない！ラリーを長く続けるにはどうしたらいいのか？
          .game
            %a{href: "lonely_golf/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "lonely_golf/screenshot.png"}/
              .title No.58 ひとりのGOLF
            %div みんなもいいけどひとりでやるのもいいよね！…ドラコン勝負だ！
          .game
            %a{href: "maboroshi_scratch/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "maboroshi_scratch/screenshot.png"}/
              .title No.59 マボロシスクラッチ
            %div カードを削って各等の数字を三つそろえて大金を手に入れよう！
          .game
            %a{href: "matteya/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "matteya/screenshot.png"}/
              .title No.60 まって〜や
            %div 駆け込み乗車はよくないけどちょっとまって〜や！
          .game
            %a{href: "mol_tataki/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "mol_tataki/screenshot.png"}/
              .title No.61 元祖モルたたき
            %div モグラたたき？？いえ、モルです。
          .game
            %a{href: "mol_tobashi/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "mol_tobashi/screenshot.png"}/
              .title No.62 モルとばし
            %div 混紡でモルをおもいっきりぶっ飛ばそう！
          .game
            %a{href: "muon/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "muon/screenshot.png"}/
              .title No.63 無音の達人
            %div
              ぼっちな彼の楽しみは放課後の音ゲー。授業中も練習しよう。
          .game
            %a{href: "natto/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "natto/screenshot.png"}/
              .title No.64 納豆ねばねば
            %div 納豆をまぜてまぜて糸をなが〜く引こう
          .game
            %a{href: "neejanaika/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "neejanaika/screenshot.png"}/
              .title No.65 ねぇじゃないか
            %div
              「レールが……ねえじゃないか！」レール補修工事中にジェットコースターが動き出した！！　落ちないようにコースターを飛び移れ
          .game
            %a{href: "nekonade/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "nekonade/screenshot.png"}/
              .title No.66 ねこなで
            %div
              仕事や勉強につかれたあなた。ネコを撫でて癒されませんか？
          .game
            %a{href: "nobori_dai/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "nobori_dai/screenshot.png"}/
              .title No.67 のぼりだい
            %div すべりだいにのぼりたいんです！連打ですべりだいを逆走しよう！
          .game
            %a{href: "onemin_cutting/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "onemin_cutting/screenshot.png"}/
              .title No.68 1分カッティング
            %div 1分間で野菜を正しくカッティングしてクッキングしよう！
          .game
            %a{href: "oudan_soudo/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "oudan_soudo/screenshot.png"}/
              .title No.69 横断騒動
            %div 横断歩道で車がばんばんやってくるのを華麗に避けよう！
          .game
            %a{href: "pk/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "pk/screenshot.png"}/
              .title No.70 PK
            %div ひたすら飛んでくるボールをゴールから阻止して真の守護神になろう！
          .game
            %a{href: "pray_for_success/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "pray_for_success/screenshot.png"}/
              .title No.71 合格祈願
            %div もうすぐ、大学受験なんです…賽銭箱に小銭をばんばん投げ入れて合格を祈願しよう！
          .game
            %a{href: "run_koisitsu_run/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "run_koisitsu_run/screenshot.png"}/
              .title No.72 ラン・更衣室・ラン
            %div 学校に不審者が入り込んだ。更衣室には絶対に入れるな！
          .game
            %a{href: "sara_arai/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "sara_arai/screenshot.png"}/
              .title No.73 見習いの達人
            %div 料理人に憧れてはるばる上京。見習いの君は皿洗いの達人になれるのか！？
          .game
            %a{href: "senko_anzan/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "senko_anzan/screenshot.png"}/
              .title No.74 閃光足算
            %div 高速で流れる数字を足していこう！
          .game
            %a{href: "senko_kakezan/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "senko_kakezan/screenshot.png"}/
              .title No.75 閃光掛算
            %div 高速で流れる数字を掛けていこう！
          .game
            %a{href: "senko_hikizan/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "senko_hikizan/screenshot.png"}/
              .title No.76 閃光引算
            %div 高速で流れる数字を引いていこう！
          .game
            %a{href: "senko_warizan/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "senko_warizan/screenshot.png"}/
              .title No.77 閃光割算
            %div 高速で流れる数字を割っていこう！
          .game
            %a{href: "shashin/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "shashin/screenshot.png"}/
              .title No.78 シャー芯
            %div 連打でシャーペンからシャー芯を出しきるんだ！
          .game
            %a{href: "shukatsu_master/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "shukatsu_master/screenshot.png"}/
              .title No.79 あなたもこれで、就活マスター
            %div 就活なんてマニュアル通りにいけば楽勝だ！たぶん…
          .game
            %a{href: "skipman/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "skipman/screenshot.png"}/
              .title No.80 とばし屋
            %div ブランコをこいでタイミングよく靴をぶっ飛ばそう！
          .game
            %a{href: "sotsuin/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "sotsuin/screenshot.png"}/
              .title No.81 卒院
            %div まじめに研究なんてできやしなかった。従順に耐え続けた。早く就職したかった。この学科からの卒院。校舎の窓ガラスを割ってまわろう！
          .game
            %a{href: "sushi_hayagui/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "sushi_hayagui/screenshot.png"}/
              .title No.82 回転寿司早食い
            %div 高速で流れる回転寿司を食べ尽くせ！
          .game
            %a{href: "takkyu_larry/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "takkyu_larry/screenshot.png"}/
              .title No.83 Takkyu Larry
            %div サー！卓球でどこまでラリーを続けられるか？
          .game
            %a{href: "tamaire/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "tamaire/screenshot.png"}/
              .title No.84 玉入れ
            %div 本格的玉入れ！ 赤玉をかごに入れて白組に勝とう！
          .game
            %a{href: "tea/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "tea/screenshot.png"}/
              .title No.85 お〜い紅茶
            %div ティーパックをジャストなタイミングで引き上げよう！
          .game
            %a{href: "tissue/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "tissue/screenshot.png"}/
              .title No.86 ザ・ティッシュ
            %div ひたすらティッシュをひいてひいてひきまくれ！
          .game
            %a{href: "toilet/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "toilet/screenshot.png"}/
              .title No.87 トイレの神様
            %div トイレには神様がおるんやで！奇麗にせなあかん！
          .game
            %a{href: "tomero_senpuu/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "tomero_senpuu/screenshot.png"}/
              .title No.88 止めろ旋風
            %div マッドサイエンティスト「仙 風妓」は思った。扇風機がある、故に我あり。扇風機を超えなければ……！！　彼は扇風機を超えるために指で扇風機を止める練習を始めた……。扇風機にタイミングよく手を入れて扇風機を止めよう
          .game
            %a{href: "trash_shoot/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "trash_shoot/screenshot.png"}/
              .title No.89 Trash Shoot
            %div 風が吹く部屋のなかで、ゴミくずをゴミ箱に投げよう
          .game
            %a{href: "tsukeru_matsuge/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "tsukeru_matsuge/screenshot.png"}/
              .title No.90 つけるまつげ
            %div つーける、つーける、つけるまつげ♪目が開いている時は上まつげ、閉じている時は下まつげをつけよう！
          .game
            %a{href: "tsuripiku/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "tsuripiku/screenshot.png"}/
              .title No.91 つりピク
            %div のんびり釣りでもどうぞ。魚がかかるのを待とう
          .game
            %a{href: "unit_catch/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "unit_catch/screenshot.png"}/
              .title No.92 単位キャッチ-モルの留年回避-
            %div 上から降ってくる単位を取得して留年を回避しよう！
          .game
            %a{href: "unit_catch_2/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "unit_catch_2/screenshot.png"}/
              .title No.93 単位キャッチ2-モルの留年回避-
            %div 単位を答えて留年を回避しよう？
          .game
            %a{href: "view_expansion/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "view_expansion/screenshot.png"}/
              .title No.94 視野拡大
            %div 1から30の数字をすばやく順番にタップしよう！
          .game
            %a{href: "volley_attack/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "volley_attack/screenshot.png"}/
              .title No.95 バレーアタック
            %div エンドレスアタックだ！ 選手とボールのタイミングを合わせてタップしよう
          .game
            %a{href: "weight_lifting/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "weight_lifting/screenshot.png"}/
              .title No.96 重量アゲ↑
            %div 連打でバーベルを上まであげてテンションもアゲアゲ↑
          .game
            %a{href: "wipe_glasses/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "wipe_glasses/screenshot.png"}/
              .title No.97 二重奥の瞳
            %div 眼鏡の奥はどんな瞳をしているのでしょうか？奇麗にして確かめよう！
          .game
            %a{href: "yaoya/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "yaoya/screenshot.png"}/
              .title No.98 八百屋の恵み
            %div 上から降ってくる野菜をかごにいれて3000円ピッタリにしよう！
          .game
            %a{href: "facebokko/src/default.html"}
              = image_tag "img/btn.png", class: "game__play-btn"
              %img{src: "facebokko/screenshot.png"}/
              .title No.99 facebokko
            %div いいね！がでたら殴って殴って殴りまくれ！


