.top-back-image--fixed
  .content.container
    .row
      .sub-header.pull-left
        = link_to image_tag('img/sub-title.png'), homes_index_path, class: "sub-header__title"
        .sub-header__clouds.pull-right
          = link_to image_tag('img/head-link1.png'), characters_index_path, class: "sub-header__cloud"
          = link_to image_tag('img/head-link2.png'), sample_index_path, class: "sub-header__cloud"
          = link_to image_tag('img/head-link3.png'), development_index_path, class: "sub-header__cloud"
          = link_to image_tag('img/head-link4.png'), "http://molgamefactory.tumblr.com/", target: "_blank", class: "sub-header__cloud"
          = link_to image_tag('img/head-alink5.png'), form_index_path, class: "sub-header__cloud--active"
      .content-body--form
        .pull-left
          = image_tag "img/otoiawase.png", class: "content-body--form__title"
        .row
          .col-xs-12
            .col-xs-2
            .col-xs-8.content-body--form__box
              = link_to image_tag("img/twitter2.png"), "https://www.twitter.com/molgamefactory", target: "_blank", class: "content-body--form__img"
            .col-xs-2
          .col-xs-12
            .col-xs-2
            .col-xs-8.content-body--form__box
              = link_to image_tag("img/facebook2.png"), "https://www.facebook.com/pages/%E3%83%A2%E3%83%AB%E3%81%AE%E3%82%B2%E3%83%BC%E3%83%A0%E5%B7%A5%E5%A0%B4/584068948341997", target: "_blank", class: "content-body--form__img"
            .col-xs-2
          .col-xs-12
            .col-xs-2
            .col-xs-8.content-body--form__box
              = image_tag "img/googledrive.png", class: "content-body--form__box__img"
              = link_to image_tag("img/form-btn.png"), "https://docs.google.com/forms/d/10JnF00Rsfwycc-q8TxNPTQRd1BfkGKpetcT5OWNVEyk/viewform", target: "_blank", class: "content-body--form__box__btn"
            .col-xs-2
= render "layouts/footer"