.top-back-image--fixed
  .content.container
    .row
      .sub-header
        = link_to image_tag('img/sub-title.png'), homes_index_path, class: "sub-header__title"
        = link_to image_tag('img/head-link1.png'), characters_index_path, class: "sub-header__img"
        = link_to image_tag('img/head-link2.png'), sample_index_path, class: "sub-header__img"
        = link_to image_tag('img/head-link3.png'), development_index_path, class: "sub-header__img"
        = link_to image_tag('img/head-link4.png'), "http://molgamefactory.tumblr.com/", target: "_blank", class: "sub-header__img"
        = link_to image_tag('img/head-alink5.png'), form_index_path, class: "sub-header__img"
      .content-body--form
        .pull-left
          = image_tag "img/otoiawase.png", class: "content-body--form__title"
        .row
          .col-md-12
            .col-md-2
            .col-md-8
              = image_tag "img/mail.png", class: "content-body--form__img"
            .col-md-2
          .col-md-12
            .col-md-2
            .col-md-8
              = image_tag "img/twitter2.png", class: "content-body--form__img"
            .col-md-2
          .col-md-12
            .col-md-2
            .col-md-8
              = image_tag "img/facebook2.png", class: "content-body--form__img"
            .col-md-2
          .col-md-12
            .col-md-2
            .col-md-8
              = image_tag "img/googledrive.png", class: "content-body--form__img"
            .col-md-2