.top-back-image--fixed
  .content.container
    .row
      .sub-header.pull-left
        = link_to image_tag('img/sub-title.png'), homes_index_path, class: "sub-header__title"
        = link_to image_tag('img/head-alink1.png'), characters_index_path, class: "sub-header__img"
        = link_to image_tag('img/head-link2.png'), sample_index_path, class: "sub-header__img"
        = link_to image_tag('img/head-link3.png'), development_index_path, class: "sub-header__img"
        = link_to image_tag('img/head-link4.png'), apps_index_path, class: "sub-header__img"
        = link_to image_tag('img/head-link5.png'), form_index_path, class: "sub-header__img"
      .content-body--character
        .pull-left
          = image_tag "img/character.png", class: "content-body--character__title"
        .pull-left
          = image_tag "img/mol.png", class: "content-body--character__board--left"
          = image_tag "img/asotaro.png", class: "content-body--character__board"
          = image_tag "img/hekokiman.png", class: "content-body--character__board--right"
        .umekomisen
        .pull-left
          = image_tag "img/nakanohito.png", class: "content-body--character__title"
        .pull-left
          = image_tag "img/ohata.png", class: "content-body--character__board--left"
          = image_tag "img/takahashi.png", class: "content-body--character__board"
          = image_tag "img/teranishi.png", class: "content-body--character__board--right"


