.top-back-image--character
  .content.original-container
    .sub-header.pull-left
      = image_tag "img/sub-title.png", class: "sub-header__title"
      = image_tag "img/head-alink1.png", class: "sub-header__title"
      = image_tag "img/head-link2.png", class: "sub-header__title"
      = image_tag "img/head-link3.png", class: "sub-header__title"
      = image_tag "img/head-link4.png", class: "sub-header__title"
      = image_tag "img/head-link5.png", class: "sub-header__title"
    .characters-body
      .pull-left
        = image_tag "img/character.png", class: "characters-body__title"
      .pull-left
        = image_tag "img/mol.png", class: "characters-body__board--left"
        = image_tag "img/asotaro.png", class: "characters-body__board"
        = image_tag "img/hekokiman.png", class: "characters-body__board--right"
      .pull-left
        = image_tag "img/nakanohito.png", class: "characters-body__title"
      .pull-left
        = image_tag "img/ohata.png", class: "characters-body__board--left"
        = image_tag "img/takahashi.png", class: "characters-body__board"
        = image_tag "img/teranishi.png", class: "characters-body__board--right"


