.top-back-image--repeat
  .content.container
    .row
      .sub-header.pull-left
        = image_tag "img/sub-title.png", class: "sub-header__title"
        = image_tag "img/head-alink1.png", class: "sub-header__title"
        = image_tag "img/head-link2.png", class: "sub-header__title"
        = image_tag "img/head-link3.png", class: "sub-header__title"
        = image_tag "img/head-link4.png", class: "sub-header__title"
        = image_tag "img/head-link5.png", class: "sub-header__title"
      .content-body--character
        .pull-left
          = image_tag "img/character.png", class: "content-body--character__title"
        .pull-left
          = image_tag "img/mol.png", class: "content-body--character__board--left"
          = image_tag "img/asotaro.png", class: "content-body--character__board"
          = image_tag "img/hekokiman.png", class: "content-body--character__board--right"
        .pull-left
          = image_tag "img/nakanohito.png", class: "content-body--character__title"
        .pull-left
          = image_tag "img/ohata.png", class: "content-body--character__board--left"
          = image_tag "img/takahashi.png", class: "content-body--character__board"
          = image_tag "img/teranishi.png", class: "content-body--character__board--right"


