.top-back-image--fixed
  .content.container
    .row
      .sub-header.pull-left
        = link_to image_tag('img/sub-title.png'), homes_index_path, class: "sub-header__title"
        .sub-header__clouds.pull-right
          = link_to image_tag('img/head-link1.png'), characters_index_path, class: "sub-header__cloud"
          = link_to image_tag('img/head-link2.png'), sample_index_path, class: "sub-header__cloud"
          = link_to image_tag('img/head-alink3.png'), development_index_path, class: "sub-header__cloud--active"
          = link_to image_tag('img/head-link4.png'), "http://molgamefactory.tumblr.com/", target: "_blank", class: "sub-header__cloud"
          = link_to image_tag('img/head-link5.png'), form_index_path, class: "sub-header__cloud"
      .content-body--development

        .col-xs-12
          = image_tag "img/gamekaihatu.png", class: "content-body--development__title"
        .col-xs-12
          .row
            .col-md-4
              .content-body--development__tab
                .content-body--development__tab1.border-bottom
                  = image_tag "img/development-side1.png"
                .content-body--development__tab2.border-bottom
                  = image_tag "img/development-side2.png"
                .content-body--development__tab3.border-bottom
                  = image_tag "img/development-side3.png"
                .content-body--development__tab4
                  = image_tag "img/development-side4.png"
            .col-md-8
              .row
                .col-xs-12
                  = image_tag "img/kaihatutekisuto.png"
              .row
                .col-xs-12
                  .umekomisen
              .kaihatutekisuto
                .tekisuto-img
                  .tekisuto
                    = image_tag "img/text.png"
                  = image_tag "img/download-btn1.png", class: "download-btn"
                .tekisuto-tc
                  = image_tag "img/tekisuto-tc.png"
              .row
                .col-xs-12
                  = image_tag "img/kaihatukankyo.png"
              .row
                .col-xs-12
                  .umekomisen
= render "layouts/footer"

