.top-back-image--fixed
  .content.container
    .row
      .sub-header.pull-left
        = link_to image_tag('img/sub-title.png'), homes_index_path, class: "sub-header__title"
        .sub-header__clouds.pull-right
          = link_to image_tag('img/head-link1.png'), characters_index_path, class: "sub-header__cloud"
          = link_to image_tag('img/head-link2.png'), sample_index_path, class: "sub-header__cloud"
          = link_to image_tag('img/head-alink3.png'), development_index_path, class: "sub-header__cloud--active"
          = link_to image_tag('img/head-link4.png'), "http://molgamefactory.tumblr.com/", target: "_blank", class: "sub-header__cloud"
          = link_to image_tag('img/head-link5.png'), form_index_path, class: "sub-header__cloud"
      .content-body--development
        .pull-left
          = image_tag "img/gamekaihatu.png", class: "content-body--development__title"
        .col-md-12
          .row
            .col-md-4
              = image_tag "img/side-kaihatu.png", class: "content-body--development__tab"
            .col-md-8
              .row
                .col-md-12
                  = image_tag "img/kaihatutekisuto.png"
              .row
                .col-md-12
                  .umekomisen
                .col-md-12
                  .col-md-6
                    - 3.times do
                      .box
                  .col-md-6
                    - 3.times do
                      .box
              .row
                .col-md-12
                  = image_tag "img/kaihatukankyo.png"
              .row
                .col-md-12
                  .umekomisen

