.top_back_image
  .row
    .col-md-1
    .col-md-10
      .header.pull-left
        .row
          .col-md-7
            = image_tag "img/title.png", class: "header__title"
          .col-md-2
            = image_tag "img/facebook.png", class: "header__facebook"
          .col-md-2
            = image_tag "img/twitter.png", class: "header__twitter"
  %br
  .row
    .col-md-3
    .col-md-6
      .holes.pull-left
        .row
          .col-md-4
            = image_tag "img/hole.png", class: "holes__hole1"
          .col-md-4
            = image_tag "img/hole.png", class: "holes__hole2"
          .col-md-4
            = image_tag "img/hole.png", class: "holes__hole3"
.bottom_back_image