.top-back-image
  .content.container
    .row
      .header.pull-left
        .col-md-7
          = image_tag "img/title.png", class: "header__title"
        .col-md-5
          .pull-left
            = image_tag "img/facebook.png", class: "header__facebook"
          .pull-right
            = image_tag "img/twitter.png", class: "header__twitter"
    .row
      .box
      .col-md-12
        .holes
          .pull-left
            = image_tag "img/hole.png", class: "holes__hole1"
            = image_tag "img/hole.png", class: "holes__hole2"
          .pull-right
            = image_tag "img/hole.png", class: "holes__hole3"
    .row
      .boards
        = image_tag "img/top-link1.png", class: "boards__link1"
        = image_tag "img/top-link1.png", class: "boards__link"
        = image_tag "img/top-link1.png", class: "boards__link"
        = image_tag "img/top-link1.png", class: "boards__link"
        = image_tag "img/top-link1.png", class: "boards__link5"


.bottom-back-image