.top-back-image--repeat
  .content.container
    .row
      .sub-header
        = image_tag "img/sub-title.png", class: "sub-header__title"
        = image_tag "img/head-link1.png", class: "sub-header__title"
        = image_tag "img/head-link2.png", class: "sub-header__title"
        = image_tag "img/head-link3.png", class: "sub-header__title"
        = image_tag "img/head-alink4.png", class: "sub-header__title"
        = image_tag "img/head-link5.png", class: "sub-header__title"
      .content-body--app
        .pull-left
          = image_tag "img/gamekaihatu.png"
        .col-md-12
          .row
            .col-md-4
              = image_tag "img/side-kaihatu.png"
            .col-md-8
              .row
                .col-md-12
                  = image_tag "img/kaihatutekisuto.png"
              .row
                .col-md-12
                  .content-body--apps__border
                .col-md-12
                  .col-md-6
                  .col-md-6
              .row
                .col-md-12
                  = image_tag "img/kaihatukankyo.png"

